################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CanvasArt/copilot-chat/1f189790/sessions
/.vs/CanvasArt/CopilotIndices/18.8.1083.22234
/.vs/CanvasArt/DesignTimeBuild
/.vs/CanvasArt/FileContentIndex
/.vs/CanvasArt.slnx/copilot-chat/1f189790/sessions
/.vs/CopilotSnapshots
